:root {
    --Verde-hoja-suave: #A3D9A5;
    --Verde-profundo-elegante: #437F55;
    --Crema-cálido-claro: #F8F6F0;
    --Acento-Amarillo-pastel: #F8E38C;
    --Acento-Azul-cielo-suave: #A9D7F8;
    --Texto-gris-carbón: #2E2E2E;
/*Fuentes*/
    --fuente-principal: "montserrat", sans-serif;
    --fuente-encabezado: "playfair display", serif;
}

body {
    margin: 0;
    padding: 0;
    background: #A3D9A5;
    background: linear-gradient(120deg, rgba(163, 217, 165, 1) 30%, rgba(67, 127, 85, 1) 80%);
    font-family: var(--fuente-principal);
    color: var(--texto-oscuro);
}

.contenido-principal {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--Crema-cálido-claro);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}