:root {
    --blanco-suave : #F7F7F7;
    --verde-esmeralda : #2E8B57;
    --amarillo-mostaza : #FFD700;
    --marron-claro : #8B4513;
}

body{
    background-color: #8B4513;
}

a{
    text-decoration: none;
 }

.nav-menu{
    background-color: var(--marron-claro);    
}

 .item-cont{
    color: var(--verde-esmeralda);
 }