:root {
    --blanco-suave : #F7F7F7;
    --verde-esmeralda : #2E8B57;
    --amarillo-mostaza : #FFD700;
    --marron-claro : #8B4513;
}

body {
    background-color: var(--blanco-suave);
    display: flex;
    justify-content: center;
}

.container {
    background-color: var(--marron-claro);
    color: var(--blanco-suave);
    padding: 10% 100% 40%;
}

.input-use{
    font-size: 2rem;
}

.input-pass{
    font-size: 2rem;
}