:root {
    --blanco-suave : #F7F7F7;
    --verde-esmeralda : #2E8B57;
    --amarillo-mostaza : #FFD700;
    --marron-claro : #8B4513;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #2E8B57, #FFD700);
    margin: 0;
}

.login-container {
    background: var(--blanco-suave);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px #000000;
    width: 350px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-size: 1rem;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    font-size: 1rem;
}

.form-group input:focus {
    border-color: #74ebd5;
}

.btn {
    width: 100%;
    padding: 10px;
    background: #74ebd5;
    border: none;
    border-radius: 8px;
    font-size: 0,5rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #5ac0b8;
}

.error {
    color: red;
    font-size: 13px;
    margin-top: 5px;
}
