:root {
    --blanco-suave : #F7F7F7;
    --verde-esmeralda : #2E8B57;
    --amarillo-mostaza : #FFD700;
    --marron-claro : #8B4513;
}

body{
    background-color: var(--blanco-suave)
}

h1 {
font-size: 4rem;
color: var(--verde-esmeralda);
}