:root {
    --fondo-claro: #F8F6FF;
    --primario: #7C3AED;
    --secundario: #F472B6;
    --acento: #38BDF8;
    --texto-oscuro: #232946;
    --tarjeta: #FFFFFF;
    --gris-claro: #E5E7EB;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, var(--acento), var(--primario));
    margin: 0;
}

.login-container{
    background: var(--blanco-suave);

}

h1 {
font-size: 4rem;
color: var(--verde-esmeralda);
}